Django>=4.2,<5.0
jazzmin
django-cors-headers>=4.3
whitenoise>=6.6
requests>=2.31
gunicorn>=21.2
celery>=5.3
redis>=5.0
django-celery-beat>=2.6
dj-database-url>=2.1
psycopg2-binary>=2.9
anthropic>=0.7.0
